<%- include('partials/header', { 
    title: title,
    user: typeof user !== 'undefined' ? user : null 
}); %>

<main>
    <div class="container">
        <%- include('pages/auth-content', { formType }); %>
    </div>
</main>

<%- include('partials/footer'); %>