<%- include('partials/header', { title, user }); %>

<main>
    <div class="container">
        <%- include('pages/auth-content', { formType }); %>
    </div>
</main>

<%- include('partials/footer'); %>