<%- include('partials/header', { title, user, isEditorPage }); %>

<main>
    <div class="container">
        <%- include('pages/document-content'); %>
    </div>
</main>

<%- include('partials/footer'); %>